* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html,body{
    height: 100vh;
}
.sidebar{
    width: 300px;
    background-color:#44475A;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;  
    flex-direction: column
}

.sidebar a{
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar a:hover{
    background-color: black;
    color:black;
}

    
