* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family:'Saira Extra Condensed', sans-serif;;
}

html,body{
    background-color: #1e2233;
    height: 100%;
}

.parent{
    display: flex;
}

.sidebar{
    width: 300px;
    background-color:#24283d;
    position: fixed;
    height: 100%;
    overflow: auto;

}

.sidebar a{
    display: block;
    color: #f8f8f8;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
.sidebar a:hover{
    background-color: #1e2233;
    color:f8f8f8;
}

.menu{
    margin-top: 100%;
}

.content{
    color: #f8f8f8;
    position: absolute;
    left: 300px;
    width: 80%;
    height: 100%;
    top: 40%;
    padding:0 3%;
}

h1{
    font-size: 50px;
}

h1 > span{
    color:#50fa7b;
}