*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family:'Saira Extra Condensed', sans-serif;;
}

html,body{
    background-color: #1e2233;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
}

body::-webkit-scrollbar-thumb {
  background-color: #4f5986;
  outline: 1px solid #4f5986;
}

/* h1{
    font-size:3vw;
    font-size: 50px;
}

h1 > span{
    color:#50fa7b;
}

p{
    font-size: 30px;
} */



.parent{
    min-width: 100%;
    display: block;
}

.parent h1{
    font-size:2.3vw;
}

.parent h1 > span{
    font-size: 2.3vw;
    color:#50fa7b;
}

.parent p{
    font-size: 2vw;
}

.sidebar{
    width: 250px;
    background-color:#24283d;
    position:fixed;
    height: 100%;
    overflow:visible;

}

.sidebar a{
    display: block;
    color: #f8f8f8;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
.sidebar a:hover{
    background-color: #1e2233;
    color:f8f8f8;
}

.menu{
    margin-top: 100%;
}

.content{
    color: #f8f8f8;
    position: absolute;
    left: 300px;
    width: 80%;
    height: 60%;
    top: 40%;
    padding:0 3%;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.text{
    min-height: 100vh;
}

.lado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
    
}

.lado a{
    font-size: 45px;
    color: #50fa7b;
    text-decoration: none;
}


.center{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.borda{
    border: 1px solid red;
} 

.text h1 > span{
    font-size: 50px;
}
