*{
    margin: 0;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

html, body{
    padding: 20px;
    background-color: #f2f2f2;
    color: #0d0d0d;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 960px;
}

h1{
    font-size: 20px;
    color: #80dfff;
}


#title p{
    font-size: 16px;
    text-align:justify;
}

#content h1{
    text-align: justify;
    margin-top: 100px;
    text-align: justify;
    justify-content: center;
}

#content p{
    justify-content: center;
    text-align: justify;
}

#content a{
    color: #ff6c6b;
    text-decoration: none;
}

.describe{
    color: #9966ff;
    font-size: 20px;
}