* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html,body{
    height: 100vh;
}

.sidebar{
    width: 30%;
    height: 100%;
    position: fixed;
    background-color:#44475A;
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menu a{
    padding: 10px 20px;
    color: white;
    font-size: 23px;
    text-decoration: none;
}

.menu a:hover{
    background-color: white;
}
